<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body onload='number_pages'>
    <div id="header">
    </div>
    <div id="content">
      <table border="1" style="width:100%">
        <thead>
          <tr>
            <th>姓名</th>
            <th>年齡</th>
            <th>政黨</th>
            <th>得票數</th>
          </tr>
        </thead>

        <tbody>
          <% @candidates.each do |people| %>
            <tr>
              <td><%= people.name %></td>
              <td><%= people.age %></td>
              <td><%= people.party %></td>
              <td><%= people.vote_logs_count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </body>
</html>